
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/_Layout.cshtml";
    var ViewBagErrorTitle = ViewBag.ErrorTitle;
}

@if (ViewBagErrorTitle == null)
{
    <div class="wrapper">
        <h3>
            An error occured while processing your request.
            The support team is notified and we are working on the fix
        </h3>
        <h5>Please contact us on sampleemail@gmail.com</h5>
    </div>
}
else
{
    <div class="wrapper">
        <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
        <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
    </div>  
}


