<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/jquery/jquery.js"></script>
        <script src="~/jquery-validation/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
</head>
<body>
    <nav>
        <div class="logo">
            <img width="40" src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/users_group_people_friends-512.png" />
        </div>
        <ul id="nav-links" class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Employees</a></li>
            <li><a href="">Departments</a></li>
        </ul>

        <div class="toggle-button">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script src="~/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle-button").on("click", function () {
            $(this).toggleClass("toggle .line1");
            $(this).toggleClass("toggle .line2");
            $(this).toggleClass("toggle .line3");
            $(".nav-links").toggleClass("nav-active");
        });
    });
</script>
