@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService autohorizationService


@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/_Layout.cshtml";
}


@{
    <div class="wrapper">
        @if ((await autohorizationService.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
        {
            <a class="btn" style="margin-bottom:2%;" asp-action="createrole" asp-controller="administration">Create new role</a>

        }
        @foreach (var role in Model)
        {
            <div class="card" style="margin-bottom:2%;">
                <div class="card-header">
                    Role Id : @role.Id
                </div>
                <div class="card-body">
                    <form asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" method="post">
                        <h5 class="card-title">Role Name : @role.Name</h5>

                        @if ((await autohorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                        {
                            <a asp-action="editrole" asp-controller="administration" asp-route-id="@role.Id" class="btn ">Edit</a>

                        }
                        @if ((await autohorizationService.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
                        {

                            <a class="btn" style="background-color: red; color:white;" onclick="confirmDelete(this)">Delete</a>

                        }

                    </form>
                </div>
            </div>
        }
    </div>
}

@section Scripts{ 
    <script src="~/js/customScript.js"></script>
}

