@model IEnumerable<WebApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/_Layout.cshtml";
}


@{
    <div class="wrapper">
        <a class="btn" style="margin-bottom:2%;" asp-action="" asp-controller="">Add new application user</a>
        @foreach (var user in Model)
        {
            <div class="card" style="margin-bottom:2%;">
                <div class="card-header">
                    User Id : @user.Id
                </div>

                <div class="card-body">
                    <h5 class="card-title">@user.Email</h5>

                    <form asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" method="post">
                        <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" class="btn ">Edit</a>
                        <a class="btn" style="background-color:red; color:white;" onclick="confirmDelete(this)">Delete</a>
                    </form>
                </div>

            </div>
            }
        </div>
    }

   @section Scripts{
       <script src="~/js/CustomScript.js"></script>

    }

